NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
FILE_ENCRYPTION_KEY_BASE64=
ADMIN_SESSION_COOKIE_NAME=pcsn_admin_session
ADMIN_SESSION_SECRET=
PATIENT_SESSION_COOKIE_NAME=pcsn_patient_session
VOLUNTEER_EMAILS=feliceleavitt01@gmail.com,jenny.martin@pcsnetwork.org,sam.martin@pcsnetwork.org,suzanne.victor@pcsnetwork.org
VOLUNTEER_SHARED_PASSWORD=
NEXT_PUBLIC_PCSN_WEBSITE_URL=
NEXT_PUBLIC_APP_URL=
RESEND_API_KEY=
NOTIFICATION_FROM_EMAIL=
NOTIFICATION_RECIPIENTS=Suzanne.Victor@pcsnetwork.org,sam.Martin@pcsnetwork.org,jenny.martin@pcsnetwork.org,feliceleavitt01@gmail.com
